# Since repo will be mounted to container, can ignore almost everything...
*
# ...except for:
#  1. local helper package copied in during build
!/code/khan_helpers/
#  2. Jupyter notebook config file
!/docker/jupyter_notebook_config.py
#  analysis conda environment file
!/docker/analysis-environment.yml
