# Mac Finder display config
*.DS_Store

# PyCharm config
*.idea

# VSCode config
*.vscode

# Jupyter notebook checkpoints
*.ipynb_checkpoints/

# Python bytecode
*__pycache__

# scratch files
scratch/

# khan-helpers package distribution
*.egg-info

# raw participant data
exp/efficient-learning-khan.db

# license-restricted font files
data/fonts/

# psiTurk console command history
exp/.psiturk_history

# contains private keys for Google Cloud API
exp/google-credentials

# latex extensions
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.blg
*.bbl
