# Mac Finder display config
*.DS_Store

# PyCharm config
*.idea

# VSCode config
*.vscode

# Jupyter notebook checkpoints
*.ipynb_checkpoints/

# Python bytecode
*__pycache__

# scratch files
scratch/

# khan-helpers package distribution
*.egg-info

# raw participant data
exp/efficient-learning-khan.db

# license-restricted font files
data/fonts/

# psiTurk console command history
exp/.psiturk_history

# private keys for psiTurk & AWS
exp/.psiturkconfig

# logfile for psiTurk experiment server
exp/server.log

# latex extensions
paper/**/*.aux
paper/**/*.fdb_latexmk
paper/**/*.fls
paper/**/*.log
paper/**/*.out
paper/**/*.synctex.gz
paper/**/*.blg
paper/**/*.bbl
