                              <!DOCTYPE html>
<!--
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to
  describe what people can do if an error comes up, etc...

-->
<html>
  <head>
    <meta charset="utf-8" />
    <title>Psychology Experiment - Informed Consent Form</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <script type="text/javascript">
      function onexit() {
        self.close(); // no harm, no foul here
      }
    </script>
  </head>
  <body>
    <div id="container-consent">
      <div id="consent">
        <h1>Your consent form goes here.</h1>
        <hr>
        <div class="legal well">
          <centering>
            <h3><b><u>CONSENT TO PARTICIPATE IN RESEARCH</u></b></h3>
            <p>Dartmouth College</p>
            <p>Study Title: Lorem ipsum dolor</p>
            <p>Principal Investigator: sit amet</p>
          </centering>
          <br />

          <p><b><u>Introduction:</u></b> consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitasse platea dictumst quisque sagittis purus sit. Ut venenatis tellus in metus. Lorem ipsum dolor sit amet consectetur.</p>
          <br />
          <p><b><u>What is the purpose of this study?</u></b></p>
          <p>Urna nunc id cursus metus. Sit amet mattis vulputate enim nulla. Enim tortor at auctor urna. Cum sociis natoque penatibus et magnis dis parturient montes. Condimentum id venenatis a condimentum vitae sapien pellentesque.</p>
          <br />
          <p><b><u>Will you benefit from taking part in this study?</u></b></p>
          <p>Sed velit dignissim sodales ut eu sem integer vitae. Lobortis mattis aliquam faucibus purus in massa. Tortor id aliquet lectus proin nibh nisl condimentum. Adipiscing commodo elit at imperdiet dui accumsan sit amet nulla.</p>
          <br />
          <p><b><u>What does this study involve?</u></b></p>
          <p>Sit amet porttitor eget dolor morbi non arcu risus. Mauris commodo quis imperdiet massa tincidunt. Nam aliquam sem et tortor. Quam elementum pulvinar etiam non quam lacus. Tristique magna sit amet purus gravida. Dui id ornare arcu odio ut sem. Nibh nisl condimentum id venenatis a condimentum. Suscipit adipiscing bibendum est ultricies integer. Sagittis purus sit amet volutpat consequat mauris nunc congue. Elit pellentesque habitant morbi tristique senectus et netus.</p>

          <p>Nullam ac tortor vitae purus faucibus ornare suspendisse sed. Vestibulum mattis ullamcorper velit sed ullamcorper. Leo in vitae turpis massa. Feugiat nisl pretium fusce id velit ut tortor pretium viverra. Tempus quam pellentesque nec nam aliquam sem et tortor consequat. Scelerisque viverra mauris in aliquam sem fringilla.</p>

          <br />
          <p><b><u>What are the options if you do not want to take part in this study?</u></b></p>
          <p>Sed faucibus turpis in eu mi. Nec dui nunc mattis enim ut tellus elementum sagittis. Id diam maecenas ultricies mi eget. Eget mi proin sed libero enim sed. A lacus vestibulum sed arcu non odio.</p>
          <br />
          <p><b><u>What are the risks involved with taking part in this study?</u></b></p>
          <p>Amet massa vitae tortor condimentum lacinia quis. Eget nulla facilisi etiam dignissim. Cursus in hac habitasse platea dictumst quisque. Ut sem nulla pharetra diam sit amet nisl suscipit adipiscing.</p>

          <br />
          <p><b><u>Other important information:</u></b></p>
          <ul>
            <li><b>Aliquet nibh praesent:</b>  Tristique magna sit amet purus. Etiam non quam lacus suspendisse. Tincidunt ornare massa eget egestas purus viverra.</li>
            <li><b>Viverra:</b> Orci sagittis eu volutpat odio.</li>
            <li><b>Enim praesent elementum facilisis:</b>  leo vel fringilla. Sed turpis tincidunt id aliquet risus feugiat in ante. Nec dui nunc mattis enim ut tellus. Tincidunt praesent semper feugiat nibh sed pulvinar. Eu consequat ac felis donec et odio pellentesque diam.</li>
          </ul>
          <br />
          <p><b><u>How will your privacy be protected?</u></b></p>
          <p>Scelerisque eu ultrices vitae auctor eu augue ut lectus arcu. Fames ac turpis egestas sed tempus urna. Posuere ac ut consequat semper viverra nam libero. Rutrum quisque non tellus orci. Et leo duis ut diam quam nulla porttitor massa. In egestas erat imperdiet sed euismod nisi porta lorem. Vitae aliquet nec ullamcorper sit.</p>

          <p>Enim ut tellus elementum sagittis vitae. Risus ultricies tristique nulla aliquet. Nunc sed blandit libero volutpat sed cras ornare. Neque egestas congue quisque egestas. Nullam vehicula ipsum a arcu cursus vitae congue mauris. Sagittis nisl rhoncus mattis rhoncus urna. Est velit egestas dui id ornare arcu odio ut sem.</p>

          <p>Faucibus pulvinar elementum integer enim neque. Amet massa vitae tortor condimentum lacinia quis vel eros donec. Malesuada fames ac turpis egestas maecenas. Pellentesque nec nam aliquam sem. Id semper risus in hendrerit gravida rutrum quisque non.</p>

          <p>Natoque penatibus et magnis dis parturient. Arcu cursus euismod quis viverra nibh. Augue lacus viverra vitae congue eu. Odio euismod lacinia at quis risus.</p>
          <br />
          <p><b><u>Will you be paid to take part in this study?</u></b></p>
          <p>Risus pretium quam vulputate dignissim suspendisse. Massa vitae tortor condimentum lacinia quis vel eros donec ac.</p>
          <br />
          <p><b><u>Whom should you call with questions about this study?</u></b></p>
          <p>Elit duis tristique sollicitudin nibh sit amet. Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Varius vel pharetra vel turpis nunc eget lorem dolor.</p>

          <p>Massa ultricies mi quis hendrerit dolor magna eget est. Mauris nunc congue nisi vitae suscipit. Gravida in fermentum et sollicitudin ac orci phasellus egestas tellus. Ornare arcu odio ut sem nulla pharetra.</p>

          <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
          <span class="glyphicon glyphicon-print"></span> Print a copy of this
          </button>
        </div>

        <hr>
        <h4><b><u>CONSENT</u></b></h4>
        <p>I have read the above information and agree to take part in this study.</p>
        <br>

        <center>
          <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
          <span class="glyphicon glyphicon-ok"></span> I agree
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
          <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to participate
          </button>
        </center>

      </div>
    </div>
  </body>
</html>
