                              <!DOCTYPE html>
<!--
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to
  describe what people can do if an error comes up, etc...

-->
<html>
  <head>
    <meta charset="utf-8" />
    <title>Psychology Experiment - Informed Consent Form</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <script type="text/javascript">
      function onexit() {
        self.close(); // no harm, no foul here
      }
    </script>
  </head>
  <body>
    <div id="container-consent">
      <div id="consent">
        <h1>We need your consent to proceed.</h1>
        <hr>
        <div class="legal well">
          <p>
            You have been invited to take part in a research study investigating fitness and cognition.
          </p>
          <centering>
            <h3><b><u>CONSENT TO PARTICIPATE IN RESEARCH</u></b></h3>
            <p>Dartmouth College</p>
            <p>Study Title: Learning and Memory </p>
            <p>Principal Investigator: Jeremy Manning</p>
          </centering>
          <br />

          <p><b><u>Introduction:</u></b> You are being asked to take part in a <u>research</u> study.  Taking part in research is <u>voluntary</u>.  You are being asked to take part in this study because you are a healthy adult.</p>
          <br />
          <p><b><u>What is the purpose of this study?</u></b></p>
          <p>The purpose of the study is to investigate how people learn and remember.  We will use the data from this study to build theories about how memory works, and how memory changes under different conditions or circumstances.</p>
          <br />
          <p><b><u>Will you benefit from taking part in this study?</u></b></p>
          <p>Should you decide to participate, there will be no personal benefit to you as a result of the experimental procedure.  Your participation will contribute to new knowledge pertaining to how people learn and remember.</p>
          <br />
          <p><b><u>What does this study involve?</u></b></p>
          <p>During the experiment, you will be shown stimuli on a computer screen (e.g., words, or im-ages of faces, scenes, or objects) and asked to perform simple tasks related to these stimuli (e.g. judging whether an image matches one that was presented previously or recalling which words you were shown earlier).  You will indicate your responses using the computer keyboard or by speaking. Before each phase of the experiment, you will be given detailed instructions. We expect the experiment to last approximately 1 hour.</p>

          <p>In addition to participating in the the main experiment, we may ask you to provide access to your historical Fitbit data. We will use your Fitbit history to measure the effects of different forms of activity and overall fitness on memory. All data provided through Fitbit and the experiment will be anonymized.</p>

          <br />
          <p><b><u>What are the options if you do not want to take part in this study?</u></b></p>
          <p>There will not be any penalty or loss of benefits already entitled to you should you decide not to participate or to withdraw from the study. Other healthy adult subjects can be found for our research purposes.</p>
          <br />
          <p><b><u>What are the risks involved with taking part in this study?</u></b></p>
          <p>The risk of participating in this behavioral experiment is minimal.  Mild eye stress may be induced by extended viewing of a computer monitor. We will encourage you to take breaks, as needed, throughout the experiment.</p>

          <br />
          <p><b><u>Other important information:</u></b></p>
          <ul>
            <li><b>Leaving the study:</b>  You may choose to withdraw from this study at any time and your withdrawal will have no effect on your academic or employment status.</li>
            <li><b>Funding:</b> This research is funded by Dartmouth College.</li>
            <li><b>Number of people in this study:</b>  We expect approximately <b>1000</b> people to enroll in this study in person (tested at Dartmouth College) and an additional 1000 remotely (through a web application administered via Amazon Mechanical Turk), for a total of 2000 participants.</li>
          </ul>
          <br />
          <p><b><u>How will your privacy be protected?</u></b></p>
          <p>The information collected as data for this study includes your typed and spoken responses, the times at which your responses were made, and (in certain experimental conditions) your Fitbit history.  Data gathered from this study will be maintained by the investigator for at least three years or as required by journal, federal, or state regulation.</p>

          <p>Efforts will be made to protect your identity.  All information you provide will be kept confidential, except as governed by law.  All reasonable measures to protect confidentiality of your records and your identity will be taken.  Your identity will not be revealed in any publications that result from this study.</p>

          <p>We will employ randomly-assigned identification numbers to ensure that no personally identifying information is associated with your data.  All data will be encrypted and stored on a password- and firewall-protected server.</p>

          <p>Any personal information you provide (e.g., your name, phone number, and email address) will be destroyed once the study has been completed.</p>
          <br />
          <p><b><u>Will you be paid to take part in this study?</u></b></p>
          <p>You will receive payment for this study through your account with Amazon Mechanical Turk.</p>
          <br />
          <p><b><u>Whom should you call with questions about this study?</u></b></p>
          <p>If you have questions about this study, or if you have concerns about a research-related issue, please call the Contextual Dynamics Laboratory at (603) 646-2777 during normal business hours (9 - 5 PM, Monday - Friday).</p>

          <p>If you have questions, concerns, complaints, or suggestions about human research at Dartmouth, you may call the Office of the Committee for the Protection of Human Subjects at Dartmouth College (603) 646-6482 during normal business hours.</p>

          <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
          <span class="glyphicon glyphicon-print"></span> Print a copy of this
          </button>
        </div>

        <hr>
        <h4><b><u>CONSENT</u></b></h4>
        <p>I have read the above information and agree to take part in this study.</p>
        <br>

        <center>
          <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
          <span class="glyphicon glyphicon-ok"></span> I agree
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
          <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this HIT
          </button>
        </center>

      </div>
    </div>
  </body>
</html>
